@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background: #0b141c;
  --foreground: #40556a;
  --color: rgba(255, 255, 255, 0.87);
  --accent1: #02a2f4;
  --accent2: #f7b801;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --background: #ede5da;
    --accent1: #163447;
    --accent2: #edb540;
  }
}
