@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background: #0b141c;
  --foreground: #1c2f41;
  --foregroundAccent: #31506e;
  --color: rgba(255, 255, 255, 0.87);
  --accent1: #02a2f4;
  --accent2: #f7b801;

  --color-light: #213547;
  --background-light: #ede5da;
  --foreground-light: #ccc7c1;
  --foregroundAccent-light: #f1ede7;
  --accent1-light: #163447;
  --accent2-light: #edb540;

  --trendup: #13f702;

  color-scheme: light dark;
  color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

#details-table {
  width: 100%;
}

#details-table td {
  text-align: center;
  padding: 8px;
}
